* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	position: relative;
}

body {
    font-family: 'Grape Nuts', cursive; 
    text-align: center;
    font-size: 20px;
}


h1 {
    font-size: 5rem;
    color: rgb(251, 251, 252);
}

h3 {
    font-size: 5rem;
    color: rgb(251, 251, 252);
} 


nav ul {
	list-style-type: none;
}

nav {
    background-color: rgb(4, 13, 87);
    margin: 0 auto;
    
}

nav a {
    
    display: block;
    color: rgb(251, 251, 252);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    
}

nav a:hover {
    background-color: rgb(9, 156, 161, 0.3);
}
nav .active {
    background-color: rgba(70, 175, 216, 0.1);
}

header, footer {
    background-color: rgb(18, 73, 156);
}

.info {
    text-align: center;
}

footer, p {
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
#lastmodified{
    color: yellow;
    padding:10px;
}

footer{
   
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	position: relative;
}
#flag {
    display: grid;
    height: 40px;
    width: 40px;
}

.rwanda {
    width: 100%;
    
}
.card section {
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    
}
.card {
    margin: 1rem ;
    display: grid;
    background-color: rgb(18, 73, 156);
    column-gap: 10px;
    text-align: center;
    padding: 10px;
}
.eee{
    text-decoration: none;
    color: black;
    background-color: rgb(253, 253, 252);
    border-radius: 15px;
    margin: 1rem 2vw;

}

.join {
    background-color: rgb(163, 163, 9);
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
} 
.social {
    display: block;
    margin: 0 auto;
}
.fb {
    float: right;
    padding: 1px 5px;
    max-width: 30%;
}