* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 900px;
	background-color: #fff;
	font-family: 'Grape Nuts', cursive; 
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #dccba9;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
	font-family: 'Grape Nuts', cursive;
	font-size: 1.5rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.sss {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.sss section {
	text-align: center;
}

.sss img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
	height: 200px;
	max-width: 100%;
}

.sss section > * {
	margin: 0.1rem;
}

.sss h3 {
	font-family: 'Grape Nuts', cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
	font-family: 'Grape Nuts', cursive;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1.5rem;
	font-family: 'Grape Nuts', cursive;
}

.list section:nth-child(even) {
	background-color: #dccba9;
}

section h3 {
	font-size: 1.5rem;
	color: black;
	font-family: 'Grape Nuts', cursive;
}

section p {
	font-weight: 600;
	color: black;
}

section a {
	font-family: 'Grape Nuts', cursive; 
	font-size: 1.4rem;
	color: navy;
	letter-spacing: 1.1pt;
}

