*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	position: relative;
}

body {
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    font-size: 20px; 
}


h1 {
    font-size: 2rem;
    color: rgb(251, 251, 252);
}

h2 {
    margin: 1rem 0;
}

main {
    text-align: center;
}

nav {
    background-color: rgb(4, 13, 87); 
}
#myButton::before {
    content: "\2630";
}
#myButton.open::before {
    content: "X";
}

#myButton {
	font-size: 2rem;
	background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
ul.menuLinks {
    display: none;
    list-style-type: none;
}
ul.menuLinks.open {
    display: block;
}
.active {
    background-color: rgba(206, 252, 252, 0.1);
}

header, footer {
    background-color: rgb(18, 73, 156);
}
.map iframe {
    margin: 1rem 0;
    width: 70%;
	height: auto;  
}

.card {
    margin: 1rem 2vw;
}
.card section {
    border: 1px solid rgb(18, 73, 156);
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card h3 {
    background-color: rgb(18, 73, 156);
    display: block;
    text-align: center;
    padding: .75rem 0;
    color: #fff;
}
.card ul {
    padding: 10px;
}

.card li a{
    text-decoration: none;
    color: black;
}



.info p{
    text-align: center;
    color: #000;
}

p {
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
#lastmodified{
    color: yellow;
    font-size: small;
    padding:10px;
}

footer{
   
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	position: relative;
}
.debby {
    box-shadow: 2px 2px 10px black;
}

#darkBtn {
    position:absolute;
    top:10px;
    right: 10px;
    top: 1rem;right: 1rem;
    width: 24px;
    background-color: #fff;
    cursor: pointer;
    font-size: 2rem;
}
#flag {
    display: grid;
    height: 40px;
    width: 40px;
}

main {
	margin: 0;
	background-color: #eee;
	color: #000;
}

.social {
    display: block;
    margin: 0 auto;
}
.fb {
    float: right;
    padding: 1px 5px;
    max-width: 30%;
}

.hero {
	margin: 5px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	
}

.hero img {
	width: 100%;
	height: auto;
	
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #89aec7);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family: 'Grape Nuts', cursive;
    color: #000;
}



