* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	position: relative;
}

body {
    font-family: 'Grape Nuts', cursive;
    font-size: 20px; 
}


h1 {
    font-size: 2rem;
    color: rgb(251, 251, 252);
}

h2 {
    margin: 1rem 0;
}

main {
    text-align: center;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0.20rem ;
	background-color: #eee;
	color: #000;
	position: absolute;
	left: 0.10rem;
    margin: 0.25rem 0;
    
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}



nav {
    background-color: rgb(4, 13, 87); 
	margin: 3rem 0 0;
}

nav a {
    display: block;
    color: rgb(251, 251, 252);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(9, 156, 161, 0.3);
}
nav .active {
    background-color: rgba(70, 175, 216, 0.1);
}

header, footer {
    background-color: rgb(18, 73, 156);
}
.map {
    margin: 1rem 0;  
}

.card {
    margin: 1rem 2vw;
}
.card section {
    border: 1px solid rgb(18, 73, 156);
    background-color: aliceblue;
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card h3 {
    color: 1px solid aliceblue; 
    background-color: rgb(18, 73, 156);
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.card ul {
    padding: 10px;
}

.card li a{
    text-decoration: none;
    color: black;

}

.info {
    text-align: center;
}

p {
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
#lastmodified{
    color: yellow;
    font-size: small;
    padding:10px;
}
.rwanda {
    width: 100%;
    max-height: 500px;
}
footer{
   
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	position: relative;
}
.debby {
    box-shadow: 2px 2px 10px black;
}

#darkBtn {
    position:absolute;
    top:10px;
    right: 10px;
    top: 1rem;right: 1rem;
    width: 24px;
    background-color: #fff;
    cursor: pointer;
    font-size: 2rem;
}
#flag {
    display: grid;
    height: 40px;
    width: 40px;
}

main {
	margin: 0;
	background-color: #eee;
	color: #000;
}

.social {
    display: block;
    margin: 0 auto;
}
.fb {
    float: right;
    padding: 1px 5px;
    max-width: 30%;
}

