h1 {
    font-size: 2rem;
    color: rgb(251, 251, 252);
    text-align: center;
}

nav {
    
    list-style-type: none;
    display: flex;
    padding-top: 10%;
    
}

nav a {
    background-color: black;
    display: block;
    color: rgb(251, 251, 252);
    text-align: center;
    padding: 1em;
    min-width: 25%;
    text-decoration: none;
    font-size: 30px;
    
}

nav a:hover {
    color: rgb(9, 156, 161);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, nav {
    background-color: rgb(18, 73, 156);
}

.card {
    margin: 1rem 2vw;
}
.card section {
    border: 1px solid rgb(18, 73, 156);
    background-color: aliceblue;
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card h3 {
    color: 1px solid aliceblue; 
    background-color: rgb(18, 73, 156);
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.card ul {
    padding: 10px;
}
p {
    color: aliceblue;
}
img {
    box-shadow: 2px 2px 10px black;
}
