@media only screen and (min-width: 10rem) {

    .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .card section{
        box-shadow: 1px 1px 10px black;
    }
}